<% layout("layout/boilerplate") -%>
    <div class="row d-flex flex-column flex-md-row mb-3">
        <div class="card col-md-6 h-100">
            <div class="d-flex justify-content-center mt-3">
                <img src="<%= hotel.photo1 %>" class="card-img-top rounded" alt="...">
            </div>
            <div class="card-body d-flex flex-column">
                <h2 class="card-title"><%= hotel.hotel_name %></h2>
                <h6 class="card-text text-muted"><%= hotel.addressline1 %></h6>
                <h7 class="card-text text-muted align-self-end">- By <%= hotel.author.name %></h7>
                <hr>
                <h4 class="card-text"><%= hotel.rating_average %> / 10</h4>
                <p class="card-text"><%= hotel.overview %></p>
                    <div class="d-flex flex-column flex-sm-row">
                        <% if(currentUser && hotel.author.equals(currentUser._id)){ %>
                            <a href="/hotels/<%= hotel._id %>/edit" class="btn btn-primary m-1">Edit</a>
                                <form action="/hotels/<%= hotel._id %>?_method=delete" method="post">
                                    <div class="m-1">
                                        <button class="btn btn-danger w-100">Delete</button>
                                    </div>
                                </form>
                        <% } %>
                        <a href="/hotels" class="btn btn-secondary m-1">Back</a>
                    </div> 
            </div> 
        </div>
        <div class="col-md-6">
            <% if(currentUser){ %>
            <div class="col-md-8 offset-2">
                <form action="/hotels/<%= hotel._id %>/reviews" method="post" novalidate class="mb-lg-2 needs-validation">
                    <h3 class="text-sm-center fs-5">Add Review</h3>
                    <div class="mb-2">
                        <label for="heading" class="form-label fs-6">Title</label>
                        <input class="form-control" type="text" name="review[heading]" id="heading" required>              
                    </div>
                    <div class="mb-2">
                        <label for="body" class="form-label fs-6">Body</label>
                        <textarea class="form-control" name="review[body]" id="body" style="height: 60px" required></textarea>  
                    </div>
                    <div class="mb-2">
                        <label for="rating" class="form-label fs-6">Rating</label>
                        <input type="range"class="form-range" min="0" max="5" name="review[rating]" id="rating">
                    </div>
                    <button class="btn btn-success w-100">Add Review</button>
                </form>
            </div>
            <% } %>
            <div class="px-3">
                <% if (reviews.length>0){ %>
                    <h3 class="text-sm-start fs-5">Reviews</h3>
                    <div class="vh-100 overflow-auto">
                        <% for (let review of reviews) {%>
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= review.author.name %>
                                            <h5>
                                                <hr>
                                                <p class="card-text fw-normal fs-5">
                                                    <%= review.heading %>
                                                </p>
                                                <p class="card-text text-muted fw-normal fs-6">
                                                    <%= review.body%>
                                                </p>
                                                <h6 class="card-text">
                                                    <%= review.rating %>/5
                                                </h6>
                                </div>
                                <% if(currentUser && review.author.equals(currentUser._id)){ %>
                                    <form action="/reviews/<%= review._id %>?_method=delete" method="post">
                                        <div class="m-1">
                                            <button class="btn btn-sm btn-danger">Delete</button>
                                        </div>
                                    </form>
                                    <% } %>
                            </div>
                            <%} %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    
